flake8
tensorflow
numpy
opencv-python
matplotlib
pillow
tqdm
pySerial
paho-mqtt
amqtt
coverage
genbadge
defusedxml
pydantic
grbl-streamer
snakeviz
matplotlib
pillow
scipy
chime
jinja2
flask
flask_cors
tqdm
plotext
scikeras
pySerial
readchar
black
isort
pre-commit
mkdocs
mkdocs-material
textual
passlib
