numpy
opencv-python
keyboard
matplotlib
scipy
tensorflow
jinja2
tqdm
scikeras
windows-capture-device-list
pywin32
readchar
pre-commit
mypy
isort
serial
flake8
pre-commit
serial
paho-mqtt
amqtt
coverage
genbadge
defusedxml
pydantic
mkdocs
mkdocs-material
mkdocs-mermaid2-plugin
